<?php

declare(strict_types=1);

/*
 * SpotifyWebApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SpotifyWebApiLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use SpotifyWebApiLib\Exceptions\Forbidden1Exception;
use SpotifyWebApiLib\Exceptions\TooManyRequests1Exception;
use SpotifyWebApiLib\Exceptions\Unauthorized1Exception;
use SpotifyWebApiLib\Http\ApiResponse;
use SpotifyWebApiLib\Models\AlbumObject;
use SpotifyWebApiLib\Models\ManyAlbums;
use SpotifyWebApiLib\Models\PagedAlbums;
use SpotifyWebApiLib\Models\PagingSavedAlbumObject;
use SpotifyWebApiLib\Models\PagingSimplifiedTrackObject;
use SpotifyWebApiLib\Models\RemoveAlbumsRequest;
use SpotifyWebApiLib\Models\SaveAlbumsRequest;

class AlbumsApi extends BaseApi
{
    /**
     * Get Spotify catalog information for a single album.
     *
     *
     * @param string $id
     * @param string|null $market
     *
     * @return ApiResponse Response from the API call
     */
    public function getAnAlbum(string $id, ?string $market = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/albums/{id}')
            ->auth('oauth_2_0')
            ->parameters(TemplateParam::init('id', $id)->required(), QueryParam::init('market', $market));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(AlbumObject::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get Spotify catalog information for multiple albums identified by their Spotify IDs.
     *
     *
     * @param string $ids
     * @param string|null $market
     *
     * @return ApiResponse Response from the API call
     */
    public function getMultipleAlbums(string $ids, ?string $market = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/albums')
            ->auth('oauth_2_0')
            ->parameters(QueryParam::init('ids', $ids)->required(), QueryParam::init('market', $market));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(ManyAlbums::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get Spotify catalog information about an album’s tracks.
     * Optional parameters can be used to limit the number of tracks returned.
     *
     *
     * @param string $id
     * @param string|null $market
     * @param int|null $limit
     * @param int|null $offset
     *
     * @return ApiResponse Response from the API call
     */
    public function getAnAlbumsTracks(
        string $id,
        ?string $market = null,
        ?int $limit = 20,
        ?int $offset = 0
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/albums/{id}/tracks')
            ->auth('oauth_2_0')
            ->parameters(
                TemplateParam::init('id', $id)->required(),
                QueryParam::init('market', $market),
                QueryParam::init('limit', $limit),
                QueryParam::init('offset', $offset)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(PagingSimplifiedTrackObject::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a list of the albums saved in the current Spotify user's 'Your Music' library.
     *
     *
     * @param int|null $limit
     * @param int|null $offset
     * @param string|null $market
     *
     * @return ApiResponse Response from the API call
     */
    public function getUsersSavedAlbums(?int $limit = 20, ?int $offset = 0, ?string $market = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/me/albums')
            ->auth('oauth_2_0')
            ->parameters(
                QueryParam::init('limit', $limit),
                QueryParam::init('offset', $offset),
                QueryParam::init('market', $market)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(PagingSavedAlbumObject::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Save one or more albums to the current user's 'Your Music' library.
     *
     *
     * @param string $ids
     * @param SaveAlbumsRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function saveAlbumsUser(string $ids, ?SaveAlbumsRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PUT, '/me/albums')
            ->auth('oauth_2_0')
            ->parameters(
                QueryParam::init('ids', $ids)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove one or more albums from the current user's 'Your Music' library.
     *
     *
     * @param string $ids
     * @param RemoveAlbumsRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function removeAlbumsUser(string $ids, ?RemoveAlbumsRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/me/albums')
            ->auth('oauth_2_0')
            ->parameters(
                QueryParam::init('ids', $ids)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.
     *
     *
     * @param string $ids
     *
     * @return ApiResponse Response from the API call
     */
    public function checkUsersSavedAlbums(string $ids): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/me/albums/contains')
            ->auth('oauth_2_0')
            ->parameters(QueryParam::init('ids', $ids)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s
     * “Browse” tab).
     *
     *
     * @param int|null $limit
     * @param int|null $offset
     *
     * @return ApiResponse Response from the API call
     */
    public function getNewReleases(?int $limit = 20, ?int $offset = 0): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/browse/new-releases')
            ->auth('oauth_2_0')
            ->parameters(QueryParam::init('limit', $limit), QueryParam::init('offset', $offset));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(PagedAlbums::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
