<?php

declare(strict_types=1);

/*
 * SpotifyWebApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SpotifyWebApiLib\Apis;

use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use SpotifyWebApiLib\Exceptions\Forbidden1Exception;
use SpotifyWebApiLib\Exceptions\TooManyRequests1Exception;
use SpotifyWebApiLib\Exceptions\Unauthorized1Exception;
use SpotifyWebApiLib\Http\ApiResponse;
use SpotifyWebApiLib\Models\ChapterObject;
use SpotifyWebApiLib\Models\ManyChapters;

class ChaptersApi extends BaseApi
{
    /**
     * Get Spotify catalog information for a single audiobook chapter. Chapters are only available within
     * the US, UK, Canada, Ireland, New Zealand and Australia markets.
     *
     *
     * @param string $id
     * @param string|null $market
     *
     * @return ApiResponse Response from the API call
     */
    public function getAChapter(string $id, ?string $market = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/chapters/{id}')
            ->auth('oauth_2_0')
            ->parameters(TemplateParam::init('id', $id)->required(), QueryParam::init('market', $market));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(ChapterObject::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Get Spotify catalog information for several audiobook chapters identified by their Spotify IDs.
     * Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
     *
     *
     * @param string $ids
     * @param string|null $market
     *
     * @return ApiResponse Response from the API call
     */
    public function getSeveralChapters(string $ids, ?string $market = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/chapters')
            ->auth('oauth_2_0')
            ->parameters(QueryParam::init('ids', $ids)->required(), QueryParam::init('market', $market));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    "Bad or expired token. This can happen if the user revoked a token or\nthe " .
                    "access token has expired. You should re-authenticate the user.",
                    Unauthorized1Exception::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). " .
                    "Unfortunately, re-authenticating the user won't help here.",
                    Forbidden1Exception::class
                )
            )
            ->throwErrorOn(
                '429',
                ErrorType::init('The app has exceeded its rate limits.', TooManyRequests1Exception::class)
            )
            ->type(ManyChapters::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
